In [15]:
import pandas as pd
import dcalendario

d_calendario = dcalendario.generate_calendar_df('2024-01-01', '2024-12-31', locale="pt_BR")

dados_vendas = {
    "DataVenda": ["2024-01-05", "2024-01-10", "2024-02-15", "2024-02-20", "2024-03-05", "2024-03-18"],
    "Produto": ["Produto A", "Produto B", "Produto A", "Produto C", "Produto B", "Produto A"],
    "Quantidade": [10, 5, 20, 15, 10, 8],
    "ValorUnitario": [50, 100, 50, 150, 100, 50]
}

f_vendas = pd.DataFrame(dados_vendas)
f_vendas["DataVenda"] = pd.to_datetime(f_vendas["DataVenda"]) 
f_vendas["Faturamento"] = f_vendas["Quantidade"] * f_vendas["ValorUnitario"] 

f_vendas_calendario = pd.merge(
    f_vendas, 
    d_calendario, 
    left_on="DataVenda", 
    right_on="Data", 
    how="inner"
)

faturamento_mensal = f_vendas_calendario.groupby(["Ano", "MesNum", "NomeMes"], as_index=False).agg(
    FaturamentoTotal=("Faturamento", "sum")
).sort_values(by=["Ano", "MesNum"])

faturamento_mensal

    Ano  MesNum    NomeMes  FaturamentoTotal
0  2024       1    Janeiro              1000
1  2024       2  Fevereiro              3250
2  2024       3      Março              1400